config/archey3.cfg
config/dconf
config/dwb
config/googlecl
config/gtk-2.0
config/htop
config/ibus
config/jack
config/MusicBrainz
config/pulse
config/ranger
config/rncbc.org
config/teamviewer8

ncmpcpp/artists
ncmpcpp/error.log

irssi/logs
irssi/sasl.auth
