config/archey3.cfg
config/Bitcoin
config/dwb/default
config/dwb/greasemonkey
config/dwb/userscripts
config/dwb/mimetypes
config/dwb/searchengines
config/chromium
config/dconf
config/fontconfig
config/googlecl
config/google-googletalkplugin
config/gtk-2.0
config/gtk-3.0
config/htop
config/ibus
config/jack
config/Mumble
config/MusicBrainz
config/pulse
config/ranger
config/Risk_of_Rain
config/rncbc.org
config/Skype
config/teamviewer8
config/Trolltech.conf

mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql

ncmpcpp/artists
ncmpcpp/error.log

vim/.netrwhist

irssi/config.autosave
irssi/logs
irssi/sasl.auth
irssi/saved_colors
